.convert-box {
  background-color: #2e0039;
  border-radius: 16px;
  margin: 16px 8px;
  padding: 0px 16px;

  &__title {
    color: #ffffff;
  }
}

.convert-panel {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__row {
    display: flex;
  }

  &__exchange {
    width: 16px;
    height: 16px;
    margin: 8px 0 0 8px;
    filter: brightness(0) invert(1);
    cursor: pointer;
  }

  &__measure {
    margin-left: 10px;
    color: #ffffff;
  }

  &__select {
    background: none;
    border: none;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    width: 76%;
  }

  &__input {
    background: none;
    border: none;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    text-align: right;
    width: 75%;
  }
}

.convert-outcome {
  display: flex;
  padding: 24px 0px;

  &__heart {
    position: relative;
    padding-top: 4px;
    width: 16px;
    height: 16px;
    filter: brightness(0) invert(1);
    cursor: pointer;
  }

  &__result {
    display: flex;
    justify-content: flex-end;
    width: 260px;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
  }

  &__measure {
    color: #ffffff;
    margin: 0;
    padding-left: 11px;
  }
}

.saved-box {
  margin: 16px 8px;

  &__title {
    color: #808080;
  }

  &__info {
    padding: 0;

    &--item {
      display: flex;
      text-decoration: none;
      background-color: #d3d3d3;
      border-radius: 8px;
      margin-top: 16px;
      padding: 8px 12px;
      justify-content: space-between;
    }
  }

  &__delete {
    color: #808080;
    cursor: pointer;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 400px) {
  .convert-outcome__result {
    width: 234px;
  }
}

@media (min-width: 767px) {
  .convert-outcome__result {
    width: 555px;
  }
}

@media (min-width: 1080px) {
  .convert-outcome__result {
    width: 760px;
  }
}

@media (min-width: 1920px) {
  .b-box {
    margin-left: 35%;
  }
  .convert-box {
    max-width: 50%;
  }
  .saved-box__title {
    margin-left: 35%;
  }
  .saved-box__info--item {
    margin-left: 35%;
    max-width: 33%;
  }
  .convert-outcome__result {
    width: 455px;
  }
  .saved-box__desktop {
    width: 50%;
    padding-left: 35%;
  }
  .saved-box__info {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 46px;
  }
  .saved-box__info--item {
    width: 30%;
    margin-left: 0;
  }
}

@media (min-width: 3440px) {
  .convert-panel__select {
    width: 85%;
  }
  .convert-panel__input {
    width: 84.6%;
  }
  .convert-outcome__result {
    width: 934px;
  }
  .saved-box__info {
    gap: 0px 84px;
  }
}
